<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (c) Milan Jurkulák 2023.
  ~  Contact:
  ~  e: mimoccc@gmail.com
  ~  e: mj@mjdev.org
  ~  w: https://mjdev.org
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="ReservedSystemPermission" />

    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
        </intent>
    </queries>

</manifest>